# Ignore input folder
/input/

# Ignore output folder
/output/

# Ignore venv folder (virtual environment)
/venv/

# Ignore IntelliJ IDEA .iml files
*.iml

# Ignore IntelliJ IDEA .xml files
*.xml

# Ignore IntelliJ IDEA project directory
.idea/